body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    // Scrollable embedded notes for project logs
    
.markdown-embed {
    height: 100%; 
    max-height: 44vh; 
    overflow: scroll; 
    padding: 0 0 0 8px;}

.markdown-preview-section {
    max-width: 100%;
    margin: 0 0 0 0;
    }
}
